<div class="content">
    <h2>Jobs Details</h2>
    {% if sortlist %}
    <table class="candidates-table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Company Role</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            {% for candi in sortlist %}
            <tr>
                <td>{{candi.user_id}}</td>
                <td>{{candi.job_id}}</td>
                <td></td>
                 
            </tr>
            {% endfor %}
            <!-- Add more rows for other candidates -->
        </tbody>
    </table>
    {% else %}
        <h2>No Application received</h2>
    {% endif %}
      
        
     
</div>